.main-container{
    background-color: white;
    height:100vh;
    width:100vw; 
    display: flex;
    flex-direction: column;
}
.navbar-container{
    display: flex;
    color: white;
    background-color: rgb(5, 1, 36);
    height: 70px;
    box-shadow: 1px 3px 2px rgba(0,0,0,0.7);
    align-items: center;
}
.navbar-container h1{
    margin-left: 20px;
}
.navbar-option{
    margin-left: 10vw;
}
.navbar-option button{
    margin-left: 30px;
    font-size: 20px;
    /* background-color: black; */
    border: none;
    border-bottom: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: transparent;
}

.main-header{
    
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 5px;
}
.main-header h1{
    margin-left: 530px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.main-header img{
    height: 15vh;
    width: 7vw;
    border-radius: 5px;
}
.main-selector{
    margin-top: 7px;
    display: flex;
    flex-direction: row;
}
.selector{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    flex: 0.5;
    margin-right: 150px;
    margin-bottom: 10px;
}
.main-venue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: min-content;
    margin-left: 150px;
    margin-bottom: 2vh;
}
.main-action{
    display: flex;
    margin-left: 140px;
}
.main-action button{
    border-radius: 10px;
    width: 10vw;
    height: 6vh;
    border: none;
    background-color: rgb(41, 243, 41);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.52);
    /* margin-left: 140px; */
    cursor: pointer;
    margin-top: 20px;
}
.main-result{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    width: 60vw;
    align-self: center;
    height: 125px;
    border-radius: 20px;
}
.result{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.result-img img{
    width: 120px;
    height: 120px;
    border-radius: 550px;
    border: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
}
.result-bar{
    width:30vh;
}
.result-vs{
    font-size: 36px;
    margin-left: 20px;
    margin-right: 20px;
    align-self: center;
}
.result-percentege{
    font-size: 20px;
}
.error-result{
    color: red;
    margin-left: 20px;
}